@charset "UTF-8";

.tablehead{
	background:#1e90ff;
	color:white;
}

.checktable {
  border-collapse: collapse;
}

.checktable th, .checktable td {
  border: solid 1px black;
}

.underbutton{
	width:150px;
	height:75px;
	padding:20px;
	margin-bottom:50px;
	border:black 2px solid;
	text-decoration:nome;
	font-size:32px;
	display:inline-block;
}

#returnbutton{
	background:#6495ed;
}

#nextbutton{
	background:#1e90ff;
}