@charset "UTF-8";

.header{
	 text-align: center;
}

.tableheader{
	background:#1e90ff;
	color:white;
}

.buttontable{
	text-align:center;
}

.underbutton{
	width:300px;
	height:150px;
	padding:20px;
	margin-bottom:50px;
	border:black 2px solid;
	text-decoration:nome;
	font-size:64px;
	display:inline-block;
}

#returnbutton{
	background:#1e90ff;
}

#nextbutton{
	background:#0000cd;
}